<div class="navbar_layout">
    <div class="navbar_inner_layout">
        <div class="navbar_menu_title_layout">
            <div class="navbar_menu_layout one-quater">
                <div class="navbar_mobile_hide">
                    <button type="button"
                        class="icon-fallback-text site-nav__link site-nav__link--burger js-drawer-open-button-left"
                        aria-controls="NavDrawer" aria-expanded="false" id="navbar_btn" style="z-index: 1005;">
                        <span class="burger-icon burger-icon--top" id="burger--top"></span>
                        <span class="burger-icon burger-icon--mid" id="burger--mid"></span>
                        <span class="burger-icon burger-icon--bottom" id="burger--bottom"></span>
                    </button>
                </div>
                <div class="navbar_menu">
                    <a href="/">Home</a>
                    <div class="dropdown">
                        <a style="cursor: default; margin-right: 0;" class="shop">Shop</a>
                        <svg viewBox="0 0 451.847 451.847" fill="currentColor" width="1em" height="1em" class="downArrow">
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"></path>
                        </svg>
                        <div class="dropdown-content">
                            <ul style="list-style: none;">
                                <li>
                                    <a href="/shop?product_type=carry_bag">Carry Bags</a>
                                </li>
                                <li>
                                    <a href="/shop?product_type=paper_cup">Paper Cups</a>
                                </li>
                                <li>
                                    <a href="/shop?product_type=birthday_item">Birthday Items</a>
                                </li>
                                <li>
                                    <a href="/shop?product_type=consumable_product">Consumable Products</a>
                                </li>
                                <li>
                                    <a href="/shop?product_type=plate">Plates</a>
                                </li>
                                <li>
                                    <a href="/shop?product_type=container">Containers</a>
                                </li>
                                <li>
                                    <a href="/shop?product_type=packing_product">Packing Products</a>
                                </li>
                                <li>
                                    <a href="/shop?product_type=spoon_fork">Spoons / Forks</a>
                                </li>
                                <li>
                                    <a href="/shop?product_type=tissue_paper">Tissue Papers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/lookbook">Lookbook</a>
                    <a href="/contact">Contact</a>
                    <% if (customerLoggedIn) { %>
                    <a href="/orders">Orders</a>
                    <% } %>
                </div>
            </div>
            <div class="navbar_title_layout">
                <a href="/">Rana Disposal's</a>
            </div>
            <div class="navbar_login_cart_layout">
                <% if (!customerLoggedIn) { %>
                <div class="navbar_login_cart login">
                    <a href="/login/shop/rana_disposal">Login</a>
                </div>
                <% } %>
                <% if (customerLoggedIn) { %>
                <div class="navbar_login_cart login">
                    <a href="/logout/shop/rana_disposal">Logout</a>
                </div>
                <% } %>
                <% if(!adminUserLoggedIn) { %> 
                    <div class="navbar_login_cart">
                        <a href="/cart" class="navbar_cart">
                            <svg class="icon icon--cart" viewBox="0 0 31 26">
                                <g class="svg-icon cart-icon--odd">
                                    <circle stroke-miterlimit="10" cx="22.5" cy="21.5" r="1"></circle>
                                    <circle stroke-miterlimit="10" cx="9.5" cy="21.5" r="1"></circle>
                                    <path fill="none" stroke-miterlimit="10" d="M0,1.5h5c0.6,0,1.1,0.4,1.1,1l1.7,13
                                    c0.1,0.5,0.6,1,1.1,1h15c0.5,0,1.2-0.4,1.4-0.9l3.3-8.1c0.2-0.5-0.1-0.9-0.6-0.9H12"></path>
                                </g>
                            </svg>
                            <div class="navbar_cart_icon_quantity">
                                <span><%= cartItems %></span>
                            </div>
                        </a>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>
</div>