<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Products" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
</div>