<%- include ('../Includes/header'); -%> 

</head>

<body>
    
    <%- include ('../Includes/navigation_bar'); -%> 
    <h1>Home Page</h1>


    <script type="text/javascript" src="/javascript/navbar_func.js"></script>
    <script>
        window.haptikInitSettings = {
          "business-id": "3485",
          "client-id": "4260f620c9cc96eb9b5990a032b4c259e045cb2a",
          "base-url": "https://staging.hellohaptik.com/",
        };
    </script>
    <script
        type="text/javascript"
        charset="UTF-8"
        src="https://toolassets.haptikapi.com/platform/javascript-xdk/production/loader.js"
    ></script>
    
<%- include ('../Includes/footer'); -%> 