<%- include('Includes/header.ejs') %> 

</head>

<body>
    <h1><%= pageTitle %></h1>

    <script type="text/javascript" src="/javascript/navbar_func.js"></script>
    
<%- include('Includes/footer.ejs') %> 