* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

body {
    font-size: 14px;
    line-height: 1.3em;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
}

.content {
    overflow: hidden;
}

body,
.content,
.content .wrap,
.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.wrap {
    display: block;
    max-width: 40em;
    margin: 0 auto;
    zoom: 1;
}

.content .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

@media (min-width: 1000px) {
    .wrap {
        padding: 0 5%;
        width: 90%;
        max-width: 78.5714285714em;
    }
}

@media (min-width: 1000px) {
    .content .wrap {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.wrap:after {
    clear: both;
}

.wrap:after,
.wrap:before {
    content: "";
    display: table;
}

@media (min-width: 750px) {
    .main {
        padding-top: 1.5em;
    }
}

@media (min-width: 1000px) {

    .page--no-banner .main,
    .page--no-banner .sidebar {
        padding-top: 4em;
    }
}

@media (min-width: 1000px) {
    .main {
        width: 52%;
        width: 52%;
        padding-right: 6%;
        float: left;
    }
}

@media (min-width: 1000px) {
    .main__header {
        padding-bottom: 2em;
    }
}

.main .logo {
    display: none;
}

.logo {
    display: block;
    vertical-align: middle;
}

a, .link {
    text-decoration: none;
    color: #a26b25;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

@media (min-width: 1000px) {
    .main .logo {
        display: block;
    }
}
.logo__text {
    color: #333333;
}
h1, .heading-1 {
    font-size: 1.7142857143em;
    line-height: 1.3em;
}
@media (min-width: 750px) {
    h1, .heading-1 {
        font-size: 2em;
    }
}
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    width: 2px;
    height: 2px;
    margin: -2px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
main {
    display: block;
}
@media (min-width: 750px) {
    .main__content {
        padding-bottom: 4em;
    }
}
.anyflexbox .main__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
form {
    display: block;
    margin-top: 0em;
}
.section:first-child {
    padding-top: 0;
}
.section {
    position: relative;
    padding-top: 2em;
}
@media (min-width: 750px) {
    .section {
        padding-top: 3em;
    }
}
.section__header {
    position: relative;
    margin-bottom: 1em;
}
@media (min-width: 750px) {
    .section__header {
        margin-bottom: 1.5em;
    }
}
.layout-flex--wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.layout-flex {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -0.2857142857rem;
}
.layout-flex--loose-horizontal {
    margin-left: -0.5714285714rem;
    margin-right: -0.5714285714rem;
}
.layout-flex--tight-vertical {
    margin-bottom: -0.1428571429rem;
    margin-top: -0.1428571429rem;
}
.layout-flex--loose-horizontal .layout-flex__item {
    padding-left: 0.5714285714rem;
    padding-right: 0.5714285714rem;
}
.layout-flex--tight-vertical .layout-flex__item {
    padding-bottom: 0.1428571429rem;
    padding-top: 0.1428571429rem;
}
.main h2, .main .heading-2 {
    color: #333333;
}
.section__title {
    color: #333333;
}
.layout-flex__item--stretch {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.layout-flex__item {
    padding: 0.1428571429rem;
}
.section__content {
    zoom: 1;
}
.section__content:after, .section__content:before {
    content: "";
    display: table;
}
.section__content:after {
    clear: both;
}
.fieldset {
    margin: -0.4285714286em;
    zoom: 1;
}
.fieldset:after {
    clear: both;
}
.fieldset:after, .fieldset:before {
    content: "";
    display: table;
}
.field {
    width: 100%;
    float: left;
    padding: 0.4285714286em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.field__input-wrapper {
    position: relative;
}
.animate-floating-labels .field__label {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.floating-labels .main .field__label {
    color: #737373;
}
.floating-labels .field__label {
    font-size: 0.8571428571em;
    font-weight: normal;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0.4285714286em;
    margin-left: 1px;
    padding: 0 0.9166666667em;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
}
.floating-labels .field--show-floating-label .field__label {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}
.field__label--visible {
    display: block;
}
.field__label {
    text-align: left;
    font-weight: 500;
    margin: 0.5em 0;
    display: none;
}
label {
    cursor: default;
}
.floating-labels .field--show-floating-label .field__input {
    padding-top: 1.5em;
    padding-bottom: 0.3571428571em;
}
.field__input-wrapper--flag-right .field__input {
    padding-right: 4.7142857143rem;
}
.animate-floating-labels .field__input {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.main .field__input {
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
}
.field__input {
    border: 1px transparent solid;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
}
.flag-selector {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    -webkit-transition: all 0.2s cubic-bezier(0, 0.34, 0.1, 0.98);
    transition: all 0.2s cubic-bezier(0, 0.34, 0.1, 0.98);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 0.7142857143rem;
}
.flag-selector::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    height: 20px;
    border-left: 1px solid transparent;
}
.flag-selector--visible .flag-selector__icon {
    -webkit-animation: scale-up-bounce 0.2s cubic-bezier(0, 0.34, 0.1, 0.98) forwards;
    animation: scale-up-bounce 0.2s cubic-bezier(0, 0.34, 0.1, 0.98) forwards;
}
.flag-selector__icon {
    height: 20px;
    width: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-filter: saturate(1.3) hue-rotate(-5deg);
    filter: saturate(1.3) hue-rotate(-5deg);
    opacity: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-image: url("../Website/public/icon/icons8-india-48.png");
}
0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.flag-selector__select {
    background-color: inherit;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.flag-selector--visible::after {
    border-left-color: #d9d9d9;
    -webkit-animation: scale-up 0.1s cubic-bezier(0, 0.34, 0.1, 0.98) forwards;
    animation: scale-up 0.1s cubic-bezier(0, 0.34, 0.1, 0.98) forwards;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: inherit;
    border: none;
    background: transparent;
    line-height: normal;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
.fieldset-description {
    margin-top: 0.9285714286em;
}
.display-table .radio-wrapper, .display-table .checkbox-wrapper {
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.radio-wrapper:last-child, .checkbox-wrapper:last-child {
    margin-bottom: 0;
}
.radio-wrapper, .checkbox-wrapper {
    zoom: 1;
    margin-bottom: 1em;
}
.radio-wrapper:after, .radio-wrapper:before, .checkbox-wrapper:after, .checkbox-wrapper:before {
    content: "";
    display: table;
}
.radio-wrapper:after, .checkbox-wrapper:after {
    clear: both;
}
.display-table .radio__input, .display-table .checkbox__input {
    display: table-cell;
}
.radio__input, .checkbox__input {
    padding-right: 0.75em;
    white-space: nowrap;
    display: table-cell;
}
.main .input-checkbox, .main .input-radio {
    border-color: #d9d9d9;
    background-color: white;
}
.input-checkbox {
    border-radius: 4px;
}
.input-checkbox, .input-radio {
    width: 18px;
    height: 18px;
    -webkit-box-shadow: 0 0 0 0 #a26b25 inset;
    box-shadow: 0 0 0 0 #a26b25 inset;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    border: 1px solid;
}
.input-checkbox:after, .input-radio:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
    opacity: 0;
}
.input-checkbox:after {
    width: 10px;
    height: 8px;
    margin-left: -5px;
    margin-top: -4px;
}
.radio__label, .checkbox__label {
    cursor: pointer;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}
.display-table .radio__label, .display-table .checkbox__label {
    display: table-cell;
    width: 100%;
}
h2, .heading-2 {
    font-size: 1.2857142857em;
    line-height: 1.3em;
}
@media (min-width: 750px) {
    .address-fields {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@media (min-width: 750px) {
    .field--half {
        width: 50%;
    }
}
.step__footer {
    z-index: 2;
    position: relative;
    margin-top: 1em;
}
@media (min-width: 750px) {
    .step__footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
@media (min-width: 750px) {
    .step__footer {
        margin-top: 1.5em;
    }
}
.btn, .sp-modal-toggle {
    cursor: pointer;
    display: inline-block;
    background-color: #000000;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 1.4em 1.7em;
    text-align: center;
    position: relative;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
@media (max-width: 749px) {
    .btn, .sp-modal-toggle {
        width: 100%;
        padding-top: 1.75em;
        padding-bottom: 1.75em;
    }
}
@media (min-width: 750px) {
    .step__footer__continue-btn {
        float: right;
    }
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer;
}
.btn__content {
    position: relative;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.btn__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.icon-svg--spinner-button {
    width: 20px;
    height: 20px;
}
.icon-svg--size-18 {
    width: 18px;
    height: 18px;
}
.icon-svg {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}
svg:not(:root) {
    overflow: hidden;
}
.step__footer__previous-link, .step__footer__info {
    display: block;
}
@media (min-width: 750px) {
    .anyflexbox .step__footer__previous-link, .anyflexbox .step__footer__info {
        margin-right: 1em;
    }
}
@media (min-width: 750px) {
    .step__footer__previous-link, .step__footer__info {
        float: left;
    }
}
@media (max-width: 749px) {
    .step__footer__previous-link, .step__footer__info {
        padding-top: 1.5em;
        text-align: center;
    }
}
a, .link {
    text-decoration: none;
    color: #a26b25;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.icon-svg--color-accent {
    color: #a26b25;
    fill: currentColor;
}
.icon-svg--size-10 {
    width: 10px;
    height: 10px;
}
.previous-link__icon {
    -webkit-transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
    transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
    margin-right: 0.25em;
}
.step__footer__previous-link-content {
    vertical-align: middle;
}
.sidebar {
    position: relative;
    color: #535353;
}
@media (min-width: 1000px) {
    .content .main, .content .sidebar {
        padding-top: 4em;
    }
}
@media (min-width: 1000px) {
    .sidebar {
        width: 38%;
        padding-left: 4%;
        background-position: left top;
        float: right;
    }
}
aside {
    display: block;
}
.sidebar::after {
    content: "";
    display: block;
    width: 300%;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background: #fafafa;
    z-index: -1;
    -webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
    box-shadow: 0 -1px 0 #e1e1e1 inset;
}
@media (min-width: 1000px) {
    .sidebar::after {
        left: 0;
        background-position: left top;
        -webkit-box-shadow: 1px 0 0 #e1e1e1 inset;
        box-shadow: 1px 0 0 #e1e1e1 inset;
    }
}
.sidebar__header {
    margin-bottom: 2.5em;
    display: none;
}
.visually-hidden-if-js {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    width: 2px;
    height: 2px;
    margin: -2px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.order-summary__section {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
@media (min-width: 1000px) {
    .order-summary__sections {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: calc(100vh - 8em);
        width: 100%;
    }
}
@media (min-width: 1000px) {
    .order-summary__section:first-child {
        padding-top: 0;
    }
}
@media (min-width: 1000px) {
    .order-summary__section {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}
@media (min-width: 1000px) {
    .order-summary__section--product-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        min-height: 7em;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
}
@media (min-width: 1000px) {
    .order-summary__section--product-list::before {
        background-color: transparent;
        top: 0;
    }
}
@media (min-width: 1000px) {
    .order-summary__section--product-list::before, .order-summary__section--product-list::after {
        content: '';
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        -webkit-transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
        transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
        width: 100%;
        z-index: 4;
    }
}
@media (min-width: 1000px) {
    .no-js .order-summary__section__content, .no-touchevents .order-summary__section__content {
        overflow: hidden;
    }
}
@media (min-width: 1000px) {
    .order-summary__section__content {
        min-width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}
table {
    width: 100%;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;

}
@media (min-width: 1000px) {
    .order-summary__section--product-list .product-table {
        margin-top: 0.75em;
        margin-bottom: 1.5em;
        position: relative;
        z-index: 1;
    }
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.product:first-child td {
    padding-top: 0;
}
.product td {
    padding-top: 1em;
}
.product-table td {
    border-color: #fad9d9;
}
.product-table th, .product-table td {
    padding-top: 0;
    padding-bottom: 0;
}
td:first-child, th:first-child {
    padding-left: 0;
    text-align: left;
}
.product-thumbnail {
    width: 4.6em;
    height: 4.6em;
    border-radius: 8px;
    background: #fff;
    position: relative;
}
.product-thumbnail__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}
.product-thumbnail__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
img {
    border: 0;
    max-width: 100%;
}
.product-thumbnail__quantity {
    font-size: 0.8571428571em;
    font-weight: 500;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgba(114,114,114,0.9);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.5833333333em;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 3;
}
.product-thumbnail::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    border: 1px rgba(0,0,0,0.1) solid;
    z-index: 2;
}
.product__description {
    text-align: left;
    width: 100%;
    padding-left: 1em;
}

td, th {
    padding: 0;
    font-weight: normal;
}
.sidebar .order-summary__emphasis {
    color: #323232;
}
.product__description__name {
    width: 1em;
    min-width: 100%;
}
.product__description__name, .product__description__variant, .product__description__property {
    display: block;
}
.order-summary__emphasis {
    font-weight: 500;
}
.product__price {
    white-space: nowrap;
    padding-left: 1em;
}
.order-summary__scroll-indicator {
    background-color: rgba(50,50,50,0.85);
    border-radius: 2em;
    bottom: 1.5em;
    color: #fafafa;
    font-size: 0.8571428571em;
    left: 50%;
    opacity: 0;
    padding: 0.6em 1.2em;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    white-space: nowrap;
    z-index: 2;
}
.order-summary__scroll-indicator .icon-svg {
    margin-left: 0.2142857143em;
    margin-top: -0.2142857143em;
}
.icon-svg--size-12 {
    width: 12px;
    height: 12px;
}
.order-summary__section~.order-summary__section {
    border-top: 1px solid rgba(175,175,175,0.34);
}
@media (min-width: 1000px) {
    .order-summary__section--product-list+.order-summary__section {
        border: 0;
    }
}
.total-line-table__tbody+.total-line-table__tbody .total-line:first-child th, .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td, .total-line-table__tbody+.total-line-table__footer .total-line:first-child th, .total-line-table__tbody+.total-line-table__footer .total-line:first-child td {
    padding-top: 3em;
    position: relative;
}
.sidebar .total-line-table__tbody+.total-line-table__tbody .total-line:first-child th::before, .sidebar .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td::before, .sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child th::before, .sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child td::before {
    background-color: rgba(175,175,175,0.34);
}
.total-line-table__tbody+.total-line-table__tbody .total-line:first-child th::before, .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td::before, .total-line-table__tbody+.total-line-table__footer .total-line:first-child th::before, .total-line-table__tbody+.total-line-table__footer .total-line:first-child td::before {
    content: '';
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 100%;
    height: 1px;
}
.sidebar .payment-due-label__total {
    color: #323232;
}
.payment-due-label__total {
    font-size: 1.1428571429em;
}
.total-line__price {
    padding-left: 1.5em;
    text-align: right;
    white-space: nowrap;
}
.sidebar .payment-due__currency {
    color: #717171;
}
.payment-due__currency {
    font-size: 0.8571428571em;
    vertical-align: 0.2em;
    margin-right: 0.5em;
}
.payment-due__price {
    font-size: 1.7142857143em;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 1em;
    color: #323232;
}
.order-summary-toggle {
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 1.25em 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: left;
    width: 100%;
}
@media (max-width: 999px) {
    .wrap {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 1em;
    }
}
.order-summary-toggle__inner {
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.order-summary-toggle__inner {
    zoom: 1;
}
.order-summary-toggle__inner:after, .order-summary-toggle__inner:before {
    content: "";
    display: table;
}
.order-summary-toggle__icon-wrapper {
    display: table-cell;
}
.order-summary-toggle__icon-wrapper {
    vertical-align: middle;
    padding-right: 0.75em;
    white-space: nowrap;
}
.order-summary-toggle__icon {
    fill: #a26b25;
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
}
.order-summary-toggle:hover .order-summary-toggle__icon, .order-summary-toggle:focus .order-summary-toggle__icon {
    fill: #78501c;
}
.display-table .order-summary-toggle--show .order-summary-toggle__text--show, .display-table .order-summary-toggle--hide .order-summary-toggle__text--hide {
    display: table-cell;
    width: 100%;
}
.order-summary-toggle:hover .order-summary-toggle__text, .order-summary-toggle:focus .order-summary-toggle__text {
    color: #78501c;
}
.order-summary-toggle__dropdown {
    vertical-align: middle;
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
    fill: #a26b25;
}
.order-summary-toggle:hover .order-summary-toggle__dropdown, .order-summary-toggle:focus .order-summary-toggle__dropdown {
    fill: #78501c;
}
.order-summary-toggle__total-recap {
    display: table-cell;
}
.order-summary-toggle__total-recap {
    vertical-align: middle;
    text-align: right;
    padding-left: 0.75em;
    white-space: nowrap;
}
.total-recap__final-price {
    font-size: 1.2857142857em;
    line-height: 1em;
    color: #333333;
}
.order-summary-toggle__inner:after {
    clear: both;
}
@media screen and (max-width: 768px) {
    .mobile_view {
        display: none !important;
    }
}
@media (min-width: 1000px) {
    .order-summary-toggle {
        display: none;
    }
}
.order-summary-toggle__text {
    color: #a26b25;
    vertical-align: middle;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: none;
}
.order-summary-toggle__text--hide {
    display: table-cell;
    width: 100%;
}
@media (max-width: 749px) {
    .main__content {
        padding-bottom: 1.5em;
    }
}
td:last-child, th:last-child {
    text-align: right;
}