.navbar_layout {
    background-color: transparent;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
    pointer-events: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.8em;
}
.navbar_menu_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 67%;
    align-items: center;
}
.navbar_menu {
    width: 33%;
    flex: 1 1 33%;
}
.navbar_menu_items {
    display: inline-flex;
    flex-wrap: wrap;
}
.navbar_menu_collections {
    margin-right: 1.5vw;
}
.navbar_menu_collections a {
    text-decoration: none;
    color: black;
    font-size: calc(0vw + 1rem);
}