.responsive.cZLe8 {
    max-width: 1440px;
    padding: 0;
}
.cZLe8 {
    direction: ltr;
    margin: 0 auto;
    max-width: 860px;
    font: normal normal normal 17px/1.4em nimbus-sans-tw01con,sans-serif;
    text-decoration: ;
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
    padding: 45px 0 40px;
}
@media (min-width: 750px) {
    .responsive.cZLe8._1UAmk {
        padding: 45px 20px 40px;
    }
}
.responsive.cZLe8>.AUSoa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.responsive.cZLe8>.AUSoa>:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 320px;
    -webkit-flex: 1 1 320px;
    -ms-flex: 1 1 320px;
    flex: 1 1 320px;
}
._3NwQm:before {
    content: " ";
    display: table;
}
._3NwQm:after {
    clear: both;
    content: " ";
    display: table;
}
._1HoSi {
    width: 100%;
}
._49NEN {
    position: relative;
    min-height: 1px;
}
@media (min-width: 750px) {
    ._49NEN {
        float: left;
    }
}
.responsive ._2_ySV ._1b09Q {
    opacity: 1;
}
._2_ySV ._1b09Q, ._2_ySV .Ahf9B {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.19999999999999996);
}
._2_ySV ._1b09Q {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (min-width: 750px) {
    ._2_ySV ._1b09Q {
        padding-top: 10px;
        padding-bottom: 16px;
    }
}
._2_ySV ._3cK0T {
    font-size: 20px;
}
._2_ySV .CGRWH {
    display: block;
    padding-top: 0;
    color: #000000;
    font: normal normal normal 17px/1.4em nimbus-sans-tw01con,sans-serif;
    text-decoration: ;
    font-size: 15px;
}
._2_ySV ._1L-As {
    padding-right: 40px;
}
._2_ySV ._2HrQG {
    display: inline-block;
    vertical-align: top;
}
._2_ySV ._3cK0T ._2Znzd {
    display: inline-block;
}
@media (min-width: 750px) {
    ._2_ySV .Ahf9B {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
._2ZZtv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.Ogidf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    position: relative;
    word-break: break-word;
}
._2u963 {
    margin-right: 20px;
}
._3HaEP {
    position: relative;
    display: inline-block;
}
._3t87a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
._2_ySV .N21Gb {
    margin: 12px 0;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.6);
}
.responsive ._2_ySV .N21Gb {
    font-size: 14px;
}
._2_ySV ._3ur41 {
    padding-top: 0;
}
._2_ySV ._3ur41 ._3iS3A {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
._3i7aE {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (min-width: 750px) {
    ._3i7aE:before {
        content: "";
        display: block;
    }
}
._218Fy {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    -webkit-clip: rect(0,0,0,0);
    clip: rect(0,0,0,0);
    border: 0;
}
.responsive.cZLe8>.AUSoa>:nth-child(2) {
    padding-left: 52px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 332px;
    -webkit-flex: 0 0 332px;
    -ms-flex: 0 0 332px;
    flex: 0 0 332px;
}
.responsive .N_ptS {
    padding: 10px 0 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.19999999999999996);
    color: #000000;
    font: normal normal normal 17px/1.4em nimbus-sans-tw01con,sans-serif;
    text-decoration: ;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
}
@media (max-width: 749px) {
    .responsive .N_ptS {
        display: none;
    }
}
.KN0in {
    position: relative;
}
.KN0in ._3xB0D, .KN0in .UoPiM {
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.19999999999999996);
    padding-bottom: 8px;
    overflow: visible;
}
.KN0in dl dt, .KN0in dl dd {
    float: left;
    line-height: 1.8em;
    width: 60%;
    padding: 0px 0 12px 0;
}
.KN0in dl dd {
    text-align: right;
    width: 40%;
}
.KN0in .UoPiM ~ ._3XJ6U {
    margin-top: 16px;
}
.KN0in ._3XJ6U {
    font-size: 20px;
    margin-top: 0;
}
.KN0in dl {
    clear: left;
    overflow: hidden;
}
._2_ySV ._3ur41 ._3iS3A>div input {
    min-width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    font: inherit !important;
    color: #000000 !important;
}
._2_ySV ._3ur41 input {
    height: 30px;
}
._2_ySV ._3ur41 ._3iS3A>div input {
    padding: 0;
    text-align: center;
}
._1boDx ._1RFas {
    display: block;
    line-height: 28px;
    font-size: 14px;
}
._1RFas {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 24px;
    padding: 0 6px;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 1.5;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 6px;
    font-family: "HelveticaNeueW01-55Roma","HelveticaNeueW02-55Roma","HelveticaNeueW10-55Roma","Helvetica Neue","Helvetica","Arial","メイリオ, meiryo","ヒラギノ角ゴ pro w3","hiragino kaku gothic pro","sans-serif";
}
._2_ySV ._3ur41 ._3iS3A>div input+div {
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: absolute;
    right: 5px;
    color: #000000;
}
._2_ySV ._3ur41 ._3iS3A>div input+div {
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
}
._13S_f>div>div>div {
    font: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._13S_f>div>div {
    background-color: transparent;
    border-radius: 0;
    border: none;
    font: inherit;
}
[class*="3sBNH"] {
    padding: 0;
}
._3sBNH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0 6px;
}
._2_ySV ._3ur41 ._3iS3A>div {
    width: 80px;
    height: 30px;
    position: relative;
    text-align: center;
}
@media (max-width: 749px) {
    .responsive.cZLe8._1UAmk {
        padding: 40px 3vw 40px;
    }
}
@media (max-width: 749px) {
    .cZLe8 {
        padding: 20px 20px 0;
        font-size: 13px;
    }
}
@media (max-width: 749px) {
    .responsive.cZLe8>.AUSoa>:nth-child(1), .responsive.cZLe8>.AUSoa>:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
}
@media (max-width: 749px) {
    ._3i7aE {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: end;
        -ms-flex-align: end;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        max-width: 50px;
    }
}