<%- include('../Includes/header.ejs') %> 

<link rel="stylesheet" type="text/css" href="/css/signup.css">

</head>

<body>
    <%- include('../Includes/navigation_bar.ejs') %>

    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signin-form">
                    <h2 class="form-title">Admin Signup</h2>
                    <form method="POST" class="register-form" id="register-form" action="/shop/rana_disposal/admin/signup">
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <div class="form-group">
                            <label for="name">
                                <i class="fas fa-user"></i>
                            </label>
                            <input type="text" name="name" id="name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="pass">
                                <i class="fas fa-lock"></i>
                            </label>
                            <input type="password" name="password" id="pass" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <label for="re-pass">
                                <i class="fas fa-lock"></i>
                            </label>
                            <input type="password" name="rePassword" id="re_pass" placeholder="Repeat your password"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
<%- include('../Includes/footer.ejs') %> 