<%- include('../Includes/header.ejs') %> 

<link rel="stylesheet" type="text/css" href="/css/login.css">

</head>

<body>
    <%- include('../Includes/navigation_bar.ejs') %>

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h2 class="active"> Sign In </h2>
        <form action="/login/shop/rana_disposal" method="POST">
          <input type="hidden" value="<%= csrfToken %>" name="_csrf">
          <input type="text" id="login" class="fadeIn second" name="name" placeholder="name">
          <input type="password" id="password" class="fadeIn third" name="passwor" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
      </div>
    </div>
    
<%- include('../Includes/footer.ejs') %> 