<%- include('../Includes/header.ejs') %> 

<link rel="stylesheet" type="text/css" href="/css/form.css">

</head>

<body>
    <%- include('../Includes/admin_navigation_bar.ejs') %> 

    <div class="page-wrapper p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-body">
                    <h2 class="title">ADD PRODUCT</h2>
                    <form action="/shop/rana_disposal/add" method="POST">
                      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <div class="row row-space">
                            <div class="col-3">
                                <label class="input--style-2">Name</label>
                                <div class="input-group">
                                    <input class="input--style-2" type="text" name="name">
                                </div>
                            </div>
                            <div class="col-3">
                                <label class="input--style-2">Price</label>
                                <div class="input-group">
                                    <input class="input--style-2" type="number" name="price">
                                    <i class="fas fa-rupee-sign input-icon"></i>
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="input--style-2">Quantity</label>
                                <div class="input-group">
                                    <input class="input--style-2" type="number" name="quantity">
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="input--style-2">Quantity Price</label>
                                <div class="input-group">
                                    <input class="input--style-2" type="number" name="quantity_price">
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="input--style-2">Threshold Quantity</label>
                                <div class="input-group">
                                    <input class="input--style-2" type="number" name="quantity_price">
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="input--style-2">Product Type</label>
                            <br>
                            <select class="input--style-2" id="inlineFormCustomSelect" name="option" style="width:100%; top:1px; position: relative;">
                              <option selected>Choose...</option>
                              <option value="carry_bag">Carry Bag</option>
                              <option value="paper_cup">Paper Cups</option>
                              <option value="plate">Plate</option>
                              <option value="birthday_item">Birthday Item</option>
                              <option value="spoon_fork">Spoons / Forks</option>
                              <option value="tissue_paper">Tissue Paper</option>
                              <option value="consumable_product">Consumable Products</option>
                              <option value="container">Container</option>
                              <option value="packing_product">Packing Product</option>
                          </select>
                        </div>
                        <div>
                            <button class="btn btn--radius btn--green" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
<%- include('../Includes/footer.ejs') %> 