<%- include('../Includes/header.ejs') %> 

</head>

<body>
    <%- include('../Includes/navigation_bar.ejs') %> 
    <h1>Cart Page</h1>
    <!-- TODO: Show cart items here with total price, item name, item image, item qty, item price of this qty -->

    <% if (cart_products.products.length !=0) { %>
        <% cart_products.products.forEach(function (prod) { %>
            <h1><%= prod.id %> </h1>
        <% }); %>
    <% } %> 
<%- include('../Includes/footer.ejs') %> 