<%- include('../Includes/header.ejs') %> 

</head>

<body>
    <%- include('../Includes/navigation_bar.ejs') %> 
    <h1>Cart Page</h1>
    <!-- TODO: Show cart items here with total price, item name, item image, item qty, item price of this qty -->
<%- include('../Includes/footer.ejs') %> 