<%- include ('../Includes/header'); -%> 

</head>

<body>
    
    <%- include ('../Includes/navigation_bar'); -%> 
    <h1>Home Page</h1>


    <script type="text/javascript" src="/javascript/navbar_func.js"></script>
    
<%- include ('../Includes/footer'); -%> 