<%- include('../Includes/header.ejs') %> 
<link rel="stylesheet" type="text/css" href="/css/lookbook.css">
</head>
<body>
    <%- include ('../Includes/navigation_bar'); -%> 
    <div class="container">
        <div class="gallery">
            <div class="gallery-item">
                <a href="/shop?product_type=carry_bag">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="Carry Bag">
                </a>
            </div>
            <div class="gallery-item">
                <a href="/shop?product_type=paper_cup">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="Paper Cups">
                </a>
            </div>
            <div class="gallery-item">
                <a href="/shop?product_type=birthday_item">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="Birthday Items">
                </a>
            </div>
            <div class="gallery-item">
                <a href="/shop?product_type=consumable_product">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="Consumable Products">
                </a>
            </div>
            <div class="gallery-item">
                <a href="/shop?product_type=plate">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="Plates">
                </a>
            </div>
            <div class="gallery-item">
                <a href="/shop?product_type=container">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="Containers">
                </a>
            </div>
            <div class="gallery-item">
                <a href="/shop?product_type=packing_product">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="Packaging Products">
                </a>
            </div>
            <div class="gallery-item">
                <a href="/shop?product_type=spoon_fork">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="Spoons / Forks">
                </a>
            </div>
            <div class="gallery-item">
                <a href="/shop?product_type=tissue_paper">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=500&h=500&fit=crop" alt="Tissue Papers">
                </a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/javascript/navbar_func.js"></script>

<%- include('../Includes/footer.ejs') %> 